html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #eef3fa;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    max-width: 420px;
}

.heading {
    width: 100%;
    color: #324666;
    font-family: 'Segoe UI Light', Verdana, sans-serif;
}

.section {
    background: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding: 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

input[type='checkbox'] {
    margin-right: 5px;
}

label {
    margin: 0px;
}

.btn {
    margin-top: 5px;
}

#nodefaults {
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#setd {
    color: #ff9900;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    display: none;
}

#bg {
    padding: 0px;
    border: none;
    background: #eef3fa;
    cursor: pointer;
}